In [4]:
library(tidyverse)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.1     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.1
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [5]:
players <- read_csv("players.csv")
sessions <- read_csv("sessions.csv")
head(players)
summary(players)
dim(players)
head(sessions)
summary(sessions)
dim(sessions)

Rows: 196 Columns: 7
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (4): experience, hashedEmail, name, gender
dbl (2): played_hours, Age
lgl (1): subscribe

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 1535 Columns: 5
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (3): hashedEmail, start_time, end_time
dbl (2): original_start_time, original_end_time

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  experience subscribe
1 Pro         TRUE
2 Veteran     TRUE
3 Veteran    FALSE
4 Amateur     TRUE
5 Regular     TRUE
6 Amateur     TRUE
  hashedEmail                                                      played_hours
1 f6daba428a5e19a3d47574858c13550499be23603422e6a0ee9728f8b53e192d 30.3
2 f3c813577c458ba0dfef80996f8f32c93b6e8af1fa939732842f2312358a88e9  3.8
3 b674dd7ee0d24096d1c019615ce4d12b20fcbff12d79d3c5a9d2118eb7ccbb28  0.0
4 23fe711e0e3b77f1da7aa221ab1192afe21648d47d2b4fa7a5a659ff443a0eb5  0.7
5 7dc01f10bf20671ecfccdac23812b1b415acd42c2147cb0af4d48fcce2420f3e  0.1
6 f58aad5996a435f16b0284a3b267f973f9af99e7a89bee0430055a44fa92f977  0.0
  name      gender Age
1 Morgan    Male    9
2 Christian Male   17
3 Blake     Male   17
4 Flora     Female 21
5 Kylie     Male   21
6 Adrian    Female 17

  experience        subscribe       hashedEmail         played_hours
 Length:196         Mode :logical   Length:196         Min.   :  0.000
 Class :character   FALSE:52        Class :character   1st Qu.:  0.000
 Mode  :character   TRUE :144       Mode  :character   Median :  0.100
                                                       Mean   :  5.846
                                                       3rd Qu.:  0.600
                                                       Max.   :223.100

     name              gender               Age
 Length:196         Length:196         Min.   : 9.00
 Class :character   Class :character   1st Qu.:17.00
 Mode  :character   Mode  :character   Median :19.00
                                       Mean   :21.14
                                       3rd Qu.:22.75
                                       Max.   :58.00
                                       NA's   :2

[1] 196   7

  hashedEmail
1 bfce39c89d6549f2bb94d8064d3ce69dc3d7e72b38f431d8aa0c4bf95ccee6bf
2 36d9cbb4c6bc0c1a6911436d2da0d09ec625e43e6552f575d4acc9cf487c4686
3 f8f5477f5a2e53616ae37421b1c660b971192bd8ff77e3398304c7ae42581fdc
4 bfce39c89d6549f2bb94d8064d3ce69dc3d7e72b38f431d8aa0c4bf95ccee6bf
5 36d9cbb4c6bc0c1a6911436d2da0d09ec625e43e6552f575d4acc9cf487c4686
6 bfce39c89d6549f2bb94d8064d3ce69dc3d7e72b38f431d8aa0c4bf95ccee6bf
  start_time       end_time         original_start_time original_end_time
1 30/06/2024 18:12 30/06/2024 18:24 1.71977e+12         1.71977e+12
2 17/06/2024 23:33 17/06/2024 23:46 1.71867e+12         1.71867e+12
3 25/07/2024 17:34 25/07/2024 17:57 1.72193e+12         1.72193e+12
4 25/07/2024 03:22 25/07/2024 03:58 1.72188e+12         1.72188e+12
5 25/05/2024 16:01 25/05/2024 16:12 1.71665e+12         1.71665e+12
6 23/06/2024 15:08 23/06/2024 17:10 1.71916e+12         1.71916e+12

 hashedEmail         start_time          end_time         original_start_time
 Length:1535        Length:1535        Length:1535        Min.   :1.712e+12
 Class :character   Class :character   Class :character   1st Qu.:1.716e+12
 Mode  :character   Mode  :character   Mode  :character   Median :1.719e+12
                                                          Mean   :1.719e+12
                                                          3rd Qu.:1.722e+12
                                                          Max.   :1.727e+12

 original_end_time
 Min.   :1.712e+12
 1st Qu.:1.716e+12
 Median :1.719e+12
 Mean   :1.719e+12
 3rd Qu.:1.722e+12
 Max.   :1.727e+12
 NA's   :2

[1] 1535    5

The players dataset contains 196 rows and 7 columns which is the equivalent of 196 observations and 7 variables. hashedEmail and name variables can be ignored as they don’t provide any information that can be predicted upon. In contrast, demographic and behavioral data allows for the categorization of the likelihood an individual will subscribe. The variables that share the strongest positive relationship to subscription probability will be favoured in answering the broad and specific questions.

Variable Description
experience (chr) - Player experience level (beginner/regular/veteran)
subscribe (lgl) - Whether the player is subscribed to the newsletter
hashedEmail (chr) - Player username
played_hours (dbl) - Total hours played
name (chr) - Display name
gender (chr) - gender identity
age - Player age (years)

The sessions dataset includes 1535 rows and 5 columns which translates to 1535 observations and 5 variables. An issue presented in this table is poor readability of the units of time which will need to be converted for further data analysis. Also, start/end time and original start/end time appear redundant

Variable Description
hashedEmail (chr) - Player username
start_time (chr) - Human-readable start timestamp
end_time (chr) - Human-readable end timestamp
original_start_time (dbl) - Computer readable start timestamp
original_end_time (dbl) Computer readable end timestamp

In [6]:
players_summary <- players |>
    select_if(is.numeric) |>
    pivot_longer(cols = everything(),
                 names_to = "Variable", 
                 values_to = "Value") |>
    group_by(Variable) |>
    summarize(Mean = round(mean(Value, na.rm = TRUE), 2),
              Median = round(median(Value, na.rm = TRUE), 2),
              Min = round(min(Value, na.rm = TRUE), 2),
              Max = round(max(Value, na.rm = TRUE), 2))
players_summary

sessions_summary <- sessions |>
    select_if(is.numeric) |>
    pivot_longer(cols = everything(),
                 names_to = "Variable", 
                 values_to = "Value") |>
    group_by(Variable) |>
    summarize(Mean = round(mean(Value, na.rm = TRUE), 2),
              Median = round(median(Value, na.rm = TRUE), 2),
              Min = round(min(Value, na.rm = TRUE), 2),
              Max = round(max(Value, na.rm = TRUE), 2))
sessions_summary

  Variable     Mean  Median Min Max
1 Age          21.14 19.0   9    58.0
2 played_hours  5.85  0.1   0   223.1

  Variable            Mean         Median      Min        Max
1 original_end_time   1.719196e+12 1.71918e+12 1.7124e+12 1.72734e+12
2 original_start_time 1.719201e+12 1.71920e+12 1.7124e+12 1.72733e+12

Broad question: What player characteristics and behaviours are most predictive of subscribing to a game-related newsletter, and how do these features differ between various player types?

Specific question: Can average game session duration predict whether a player subscribes to the game-related newletter in the sessions dataset?

The sessions data holds information regarding start and end time of game duration which can be aggregated to produce a mean that communicates the average game length. By merging these variables with the newsletter subscription data available in the players data set the broad and specific questions can be effectively targeted.